.search input {
    background-color: rgb(233, 233, 233);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    width: 70%;
}

.btn-ctm{
  background-color: rgb(204, 204, 204);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
  margin-left: 0.3em;

}
.card, .card-body,.list-group,.list-group-item{
  background-color: rgb(233, 233, 233);
}
.icons{
  filter: drop-shadow(0 0 10px #919191);
}